
@{
    ViewData["Title"] = "Безумная магия";
    
}

<h1>@ViewData["Title"]</h1>

<h3>Это основная страница приложения-игры "Безумная магия"</h3>
<p>Можете перейти к <a asp-controller="Spells" asp-action="Index">Списку заклинаний</a></p>
<p>А также к процессу <a>Регистрации игрока</a></p>

