@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на сайт моих проектов!</h1>
    <p>Меня зовут Владимир, и здесь я буду собирать свои проекты в самом разном их состоянии.</p>
</div>
<div class="text-center">
    <a asp-controller="Spells" asp-action="Index">Перейти к списку заклинаний проекта MadMagic</a>
</div>
