@{
    ViewData["Title"] = "Политика приватности";
}
<h1>@ViewData["Title"]</h1>


<p>С кодом приложения и вложенных проектов можно ознакомиться на <a href="https://github.com/SUdez-VE/MadMagic">Странице GitHub</a></p>
<p>Защищено правилами GitHub, с которыми можно ознакомиться <a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement">Здесь</a></p>
